anyio==3.3.4
appdirs==1.4.4
autopep8==1.5.7
bcrypt==3.2.0
click==8.0.3
decouple==0.0.7
distlib==0.3.2
ecdsa==0.17.0
fastapi==0.70.0
FastAPI-SQLAlchemy==0.2.1
filelock==3.0.12
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
passlib==1.7.4
pyasn1==0.4.8
pydantic==1.8.2
python-jose==3.3.0
python-multipart==0.0.5
rsa==4.7.2
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.26
starlette==0.16.0
typing-extensions==3.10.0.2
uvicorn==0.15.0
virtualenv==20.4.7
